#contents {
    border-left: 1px solid #ccc;
    height: auto;
    margin-left: 199px;
    padding-bottom: 10px;
}
div {
    display: block;
}
.post{
	height: auto;
	clear: both;
	position: relative;
}

.post .entry-meta{
	font-family: "Oswald", Helvetica;
	font-size: 25px;
	float: left;
	margin: 35px 0px 0px 199px;
	padding: 0px;
	text-align: right;
	text-transform: uppercase;
	width: 190px;
}
.post .entry-meta{
	font-weight: bold;
}
.post .main{
	border-bottom:1px dashed;
	float: left;
	line-height: 175%;
	padding:29px 5px 15px 15px;
	text-align:left;
	width: 580px;
}
.entry-title{
	color: #666;
	font-family: "Oswald", Helvetica;
	font-size: 25px;
	line-height: 38px;
	margin: 5px 0px 15px 0px;
	text-align: left;
	text-transform: uppercase;
}
p{
	display: block;
}
.navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
  
.navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
.navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
.navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }



