<!-- BOTTOM NAVBAR -->
<div class="navbar navbar-default navbar-fixed-bottom bottom-nav">
  <div class="container">
    <div class="social-icons">
      <div class="row">
        <div class="social-icons text-center">
          <a href="https://twitter.com/LeJuniper"><i class="fa fa-twitter-square fa-2x icons"></i></a>
          <a href="https://www.linkedin.com/in/juniperemnett"><i class="fa fa-linkedin-square fa-2x icons"></i></a>
          <a href="https://www.facebook.com/juniper.chapman"><i class="fa fa-facebook-square fa-2x icons"></i></a>
          <a href="https://github.com/junipie"><i class="fa fa-github-square fa-2x icons"></i></a>
          <a href="https://medium.com/@LeJuniper"><i class="fa fa-medium fa-2x icons"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>