<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Juniper Emnett - Home</title>
  <title><%= title %></title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script source="app.js"></script>
</head>
<body>

<!-- TOP NAVIGATION -->
<%- include ./partials/navbar.ejs %>

<!-- HOMEPAGE MAIN AREA-->
  <!-- BREAK W/CARET -->
    <div class="container-fluid main-break text-center">
      <i class="fa fa-caret-down fa-5x direction-arrows"></i>
    </div>

  <!-- MAIN ABOUT BAR LG-->
    <div class="container-fluid about-lg hidden-md hidden-sm hidden-xs">
      <div class="col-lg-6">
        <img class="profile-img-lg" src="/img/juniper.jpg" alt="juniper">
      </div>
      <div class="col-lg-6">
        <div class="well info-well-lg">
          <h3>Oh Hey There.</h3>
          <p>I'm Juniper. I love to make great products and serve my fellow humans effectively and passionately.</p>
          <p>I recently made a 180º shift in my career, and I'm studying to be a developer at Montana Code School. My general interests are the same -- I like projects, great teams, and solving the unsolvable -- but now there's code involved! As I graduate from my program in late December, I'm on the hunt for a development job.</p>
          <p>I still haven’t decided what I want to do when I grow up – but I love people, and I love the satisfaction of a job well-done. I want to work with great people, doing something that adds value to the world, for a company I respect and believe in.</p>
        </div>
      </div>
    </div>

  <!-- MAIN ABOUT BAR MD-->
    <div class="container-fluid about-md hidden-lg hidden-sm hidden-xs">
      <div class="col-md-6">
        <img class="profile-img-md" src="/img/juniper.jpg" alt="juniper">
      </div>
      <div class="col-md-6">
        <div class="well info-well-md">
          <h3>Oh Hey There.</h3>
          <p>I'm Juniper. I love to make great products and serve my fellow humans effectively and passionately.</p>
          <p>I recently made a 180º shift in my career, and I'm studying to be a developer at Montana Code School. My general interests are the same -- I like projects, great teams, and solving the unsolvable -- but now there's code involved! As I graduate from my program in late December, I'm on the hunt for a development job.</p>
          <p>I still haven’t decided what I want to do when I grow up – but I love people, and I love the satisfaction of a job well-done. I want to work with great people, doing something that adds value to the world, for a company I respect and believe in.</p>
        </div>
      </div>
    </div>

  <!-- MAIN ABOUT BAR SM-->
    <div class="container-fluid about-sm hidden-lg hidden-md hidden-xs">
      <div class="col-sm-6">
        <img class="profile-img-sm" src="/img/juniper.jpg" alt="juniper">
      </div>
      <div class="col-sm-6">
        <div class="well info-well-sm">
          <h3>Oh Hey There.</h3>
          <p>I'm Juniper. I love to make great products and serve my fellow humans effectively and passionately.</p>
          <p>I recently made a 180º shift in my career, and I'm studying to be a developer at Montana Code School. My general interests are the same -- I like projects, great teams, and solving the unsolvable -- but now there's code involved! As I graduate from my program in late December, I'm on the hunt for a development job.</p>
          <p>I still haven’t decided what I want to do when I grow up – but I love people, and I love the satisfaction of a job well-done. I want to work with great people, doing something that adds value to the world, for a company I respect and believe in.</p>
        </div>
      </div>
    </div>

  <!-- MAIN ABOUT BAR XS-->
    <div class="container-fluid about-xs hidden-lg hidden-md hidden-sm">
      <div class="row text-center">
        <img class="profile-img-xs" src="/img/juniper.jpg" alt="juniper">
      </div>
      <div class="row">
        <div class="well info-well-xs">
          <h3>Oh Hey There.</h3>
          <p>I'm Juniper. I love to make great products and serve my fellow humans effectively and passionately.</p>
          <p>I recently made a 180º shift in my career, and I'm studying to be a developer at Montana Code School. My general interests are the same -- I like projects, great teams, and solving the unsolvable -- but now there's code involved! As I graduate from my program in late December, I'm on the hunt for a development job.</p>
          <p>I still haven’t decided what I want to do when I grow up – but I love people, and I love the satisfaction of a job well-done. I want to work with great people, doing something that adds value to the world, for a company I respect and believe in.</p>
        </div>
      </div>
    </div>

  <!-- BREAK W/CARET -->
    <div class="container-fluid main-break text-center">
      <i class="fa fa-caret-down fa-5x direction-arrows"></i>
    </div>

  <!-- MAIN SKILLS-PROJECTS LIST LG-->
    <div class="container-fluid skills-lists-lg hidden-md hidden-sm hidden-xs">
      <div class="col-lg-2 col-lg-offset-1 skills-col">
        <div class="skills-text">
          <h3>SKILLS</h3>
          <ul>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JQuery</li>
            <li>NodeJS</li>
            <li>ReactJS</li>
            <li>MongoDB</li>
            <li>npm</li>
            <li>Public speaking</li>
            <li>Agile development</li>
            <li>Dog-petting</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-lg-offset-1 skills-col">
        <div class="skills-text">
          <h3>PROJECTS</h3>
          <ul>
            <li><a href="https://food-truck-tracker.herokuapp.com/">Truck Yeah</a></li>
            <p>A food-truck-tracking app, built on React, with MongoDB.</p>
            <li><a href="http://exercism.io/junipie">Exercism</li></a>
            <p>A series of test-driven development exercises using Jasmine.</p>
            <li>Rollin'</li>
            <p>A simple app for rolling dice. Allows the user to choose number and type of dice.</p>
          </ul>
        </div>
      </div>
    </div>

  <!-- MAIN SKILLS-PROJECTS LIST MD-->
    <div class="container-fluid skills-lists-md hidden-lg hidden-sm hidden-xs">
      <div class="col-md-3 skills-col">
        <div class="skills-text-md">
          <h3>SKILLS</h3>
          <ul>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JQuery</li>
            <li>NodeJS</li>
            <li>ReactJS</li>
            <li>MongoDB</li>
            <li>npm</li>
            <li>Public speaking</li>
            <li>Agile development</li>
            <li>Dog-petting</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 skills-col">
        <div class="skills-text-md">
          <h3>PROJECTS</h3>
          <ul>
            <li><a href="https://food-truck-tracker.herokuapp.com/">Truck Yeah</a></li>
            <p>A food-truck-tracking app, built on React, with MongoDB.</p>
            <li><a href="http://exercism.io/junipie">Exercism</li></a>
            <p>A series of test-driven development exercises using Jasmine.</p>
            <li>Rollin'</li>
            <p>A simple app for rolling dice. Allows the user to choose number and type of dice.</p>
          </ul>
        </div>
      </div>
    </div>

  <!-- MAIN SKILLS-PROJECTS LIST SM-->
    <div class="container-fluid skills-lists-sm hidden-lg hidden-md hidden-xs">
      <div class="col-sm-3 skills-col">
        <div class="skills-text-sm">
          <h3>SKILLS</h3>
          <ul>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JQuery</li>
            <li>NodeJS</li>
            <li>ReactJS</li>
            <li>MongoDB</li>
            <li>npm</li>
            <li>Public speaking</li>
            <li>Agile development</li>
            <li>Dog-petting</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 skills-col">
        <div class="skills-text-sm">
          <h3>PROJECTS</h3>
          <ul>
            <li><a href="https://food-truck-tracker.herokuapp.com/">Truck Yeah</a></li>
            <p>A food-truck-tracking app, built on React, with MongoDB.</p>
            <li><a href="http://exercism.io/junipie">Exercism</li></a>
            <p>A series of test-driven development exercises using Jasmine.</p>
            <li>Rollin'</li>
            <p>A simple app for rolling dice. Allows the user to choose number and type of dice.</p>
          </ul>
        </div>
      </div>
    </div>

  <!-- MAIN SKILLS-PROJECTS LIST XS-->
    <div class="container-fluid skills-lists-xs hidden-lg hidden-md hidden-sm">
      <div class="col-xs-6 skills-col">
        <div class="skills-text-xs">
          <h3>SKILLS</h3>
          <ul>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JQuery</li>
            <li>NodeJS</li>
            <li>ReactJS</li>
            <li>MongoDB</li>
            <li>npm</li>
            <li>Public speaking</li>
            <li>Agile development</li>
            <li>Dog-petting</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 skills-col">
        <div class="skills-text-xs">
          <h3>PROJECTS</h3>
          <ul>
            <li><a href="https://food-truck-tracker.herokuapp.com/">Truck Yeah</a></li>
            <p>A food-truck-tracking app, built on React, with MongoDB.</p>
            <li><a href="http://exercism.io/junipie">Exercism</li></a>
            <p>A series of test-driven development exercises using Jasmine.</p>
            <li>Rollin'</li>
            <p>A simple app for rolling dice. Allows the user to choose number and type of dice.</p>
          </ul>
        </div>
      </div>
    </div>

  <!-- BREAK W/CARET -->
    <div class="container-fluid main-break text-center">
      <i class="fa fa-caret-down fa-5x direction-arrows"></i>
    </div>

  <!-- GIT/WAKA FEED -->
    <div class="container-fluid coding-feeds">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="well feeds-well git-box" id="githubBox">
            
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="well feeds-well">
            <div id="wakaBox">
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- FOOTER -->
<%- include ./partials/footer.ejs %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script type="text/jsx" src="/static/github.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>