/*PAGE SETUP*/
html, body {
  height: 100%;
}

body {
  padding-top: 125px;
}

.direction-arrows {
  margin-top: -25px;
}

.fa {
  color: #87a94b;
}

/*HEADER*/
.top-nav{
  height: 125px;
}

.head-name-lg {
  font-family:'Raleway', sans-serif;
  font-size: 4em;
}

.head-name-md {
  font-family:'Raleway', sans-serif;
  font-size: 3.2em;
}

.head-name-xs {
  font-family:'Raleway', sans-serif;
  font-size: 2.5em;
  text-align: center;
}

.head-subtitle {
  margin-top: -10px;
  margin-left: 40px;
}

.head-subtitle-xs {
  text-align: center;
  margin-top: -10px;
}

.ghost-button {
  color: #87a94b;
  background: #fff;
  border: 1px solid #87a94b;
  font-size: 12px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  min-width: 100px;
  vertical-align: middle;
  border-radius: 0;
 }

.ghost-button:hover, .ghost-button:active {
  color:#fff;
  background:#87a94b;
}

.nav-buttons {
  margin-top: 40px;
}

.nav-buttons-sm {
  margin-top: 20px;
}

.nav-buttons-xs {
  margin-top: -10px;
}

/*FOOTER*/
.icons {
  margin-right: 10px;
  margin-left: 10px;
}

.social-icons {
  margin-top: 8px;
}

.bottom-nav{
  height: 50px;
}

/*HOME PAGE*/
.about {
  height: 500px;
  background-image: url("../img/honeycomb.jpg");
  background-size: cover;
}

.info-well {
  height: 425px;
  width: 425px;
  background-color: #87a94b;
  margin-top: 38px;
  border: 5px solid #fff;
  padding-top: 35px;
  border-radius: 0;
}

.profile-img {
  height: 424px;
  margin-top: 38px;
  border: 5px solid #fff;
}

.main-break {
  height: 0;
}

.skills-lists {
  height: 500px;
  background-image: url("../img/hand.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.skills-col {
  position: relative;
}

.skills-text{
  position: absolute;
  margin-top: 30%;
}

.skills-text li {
  list-style: none;
}

.skills-text h3 {
  margin-left: 40px;
}

.pics-feeds {
  height: 500px;
  margin-bottom: 50px;
}

.feeds-box {
  margin: 0;
  height: 250px;
}

.pic1 {
  background-image: url("../img/derby.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.pic2 {
  background-image: url("../img/ein.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.pic3 {
  background-image: url("../img/motorcycle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.pic4 {
  background-image: url("../img/sunset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.linkedin-pic {
  height: 150px;
  width: 150px;
}




/*Blog*/
#blog-posts {
    border-left: 1px solid #ccc;
    height: auto;
    margin-left: 100px;
    padding-bottom: 10px;
}
.post .entry-meta{
  font-family: "Oswald", Helvetica;
  font-size: 25px;
  float: left;
  margin: 35px 0px 0px 199px;
  padding: 0px;
  text-align: right;
  text-transform: uppercase;
  width: 190px;
}
.post .entry-meta{
  font-weight: bold;
}
.date{
  color: #161b1b;
}
.post .main{
  border-bottom:1px dashed;
  float: left;
  line-height: 175%;
  padding:29px 5px 15px 15px;
  text-align:left;
  width: 580px;
}
.entry-title{
  color: #809999;
  font-family: "Oswald", Helvetica;
  font-size: 25px;
  line-height: 38px;
  margin: 5px 0px 15px 0px;
  text-align: left;
  text-transform: uppercase;
}

#blog-area{
  margin-bottom: 50px;
}
